.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.heading {
  color: #666;
  line-height: 1.6;
}

.author-name {
  font-size: 30px;
}

.details-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-section {
  margin-bottom: 20px;
}

.actions {
  align-self: flex-end;
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.delete {
  margin-top: 40px;
}

.confirmationMessage {
  font-size: 18px;
  font-weight: 500;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 20px;
  margin-bottom: 10px;
}