
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-user-data {
  width: 30%;
}

.user-heading {
  text-transform: uppercase;
  font-size: 6.4rem;
}

.user-paragraph {
  margin-top: 1.5rem;
  margin-bottom: 3.4rem;
  max-width: 60rem;
}

.book-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

img {
  width: 100%;
}
