.navbar-list {
  display: flex;
  gap: 20px;

  li {
    list-style: none;
  }
}

.navbar-link {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color 0.3s linear;
  }

  &:hover {
    color: #8490ff;
  }
}

.active {
  color: #8490ff !important;
}