:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  /* variables */
  --color-heading: "rgb(24 24 29)";
  --color-text: "rgb(24 24 29)";
  --color-white: "#fff";
  --color-black: " #212529";
  --color-helper: "#8490ff";
  --color-bg: "rgb(249 249 255)";
  --color-footer_bg: "#0a1435";
  --color-btn: "rgb(98 84 243)";
  --color-border: "rgba(98, 84, 243, 0.5)";
  --color-hr: "#ffffff";
}
